<header>
    <a class="logo" href="index.html">
        <img id="apple" src="./favicon.ico" />
        <img src="./img/centeredLogo.png" />
    </a>
    <input type="checkbox"
     id="nav-toggle"
     class="nav-toggle">
    <nav>
        <ul>
            <li id="home-link"><a href="index.html">Home</a></li>
            <li id="staff-link"><a href="staff.html">Staff</a></li>
            <li id="services-link"><a href="services.html">Services</a></li>
            <li id="contact-link"><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <label for="nav-toggle"
     class="nav-toggle-label">
        <span></span>
    </label>
</header>